@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('./images/bg3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.SignUp-box{
    position: relative;
    width: 400px;
    height: 550px;
    background: transparent;
    border: 2px solid rgba(41, 39, 39, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
}


h2{
    font-size: 2em;
    color: black;
    text-align: center;
}

.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid black;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    padding: 0 35px 0 5px;
}


.input-box .icon {
    position: absolute;
    right: 8px;
    color: black;
    font-size: 1.2em;
    line-height: 57px;
}

button {
    width: 100%;
    height: 40px;
    background: none;
    border:  2px solid rgba(41, 39, 39, 0.5);
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
}

.Login-link {
    font-size: .9em;
    color: white;
    text-align: center;
    margin: 25px 0 10px;
    }

.Login-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.Login-link p a:hover {
    text-decoration: underline;
}